<p><del>This is a test</del></p>

<p>~<del>This is another test</del>~</p>

<p><del>This is yet another test</del>~</p>

<p>~~ This is a test of it NOT working ~~</p>

<p>~~
This
is
a
<strong>multiline</strong>
test
~~</p>

<p>This is an <del><em>inline</em> <strong>strikethrough</strong></del> test</p>

<p>This is an ~~escaped~~ strikethrough.</p>

<p>This is a <del>strikethrough with a ~ in the middle</del></p>

<p>I <del>don’t even</del>~ have an extra tilde.</p>

<p>This should ~~not be struck.</p>

<p>This is a <del>s</del>ingle letter example</p>

<p>This <del>is a complex <em>strike</em> through <em>test <del>with nesting</del> involved</em> here</del>.</p>

<p>This <del>is a complex <em>strike</em> through *test</del> without nesting <del>involved* here</del>.</p>
